<app-header></app-header>

<h2>Add New User</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-10 pb-3">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" formControlName="first_name">
  </div>
  <div class="form-group col-10 pb-3">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" formControlName="last_name">
  </div>
  <div class="form-group col-10 pb-3">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" formControlName="age" value=0>
  </div>
  <div class="form-group col-10 pb-3">
    <label for="gender">Gender</label>
    <select class="form-select" id="gender" formControlName="gender">
      <ng-template ngFor let-gender [ngForOf]="genders" let-i="index">
        <option value="{{ gender.genderName }}">{{ gender.genderName }}</option>
      </ng-template>
    </select></div>
  <div class="form-group col-10 pb-3">
    <label for="comments">Comments</label>
    <input type="text" class="form-control" id="comments" formControlName="comments">
  </div>

  <div><a (click)="goToUsersTable()" class="btn btn-outline-secondary m-2" role="button">Back</a>
    <button type="submit" class="btn btn-dark m-2">Add User</button>
  </div>

</form>
